<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src = "/static/lib/jquery/1.9.1/jquery.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.js"></script>
    <title>School Management System</title>
</head>
<body>
{block name="menu"}{/block}
{if $Think.session.user_id}
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!--小屏幕导航按钮和logo-->
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">School Management System</a>
            </div>
            <!--小屏幕导航按钮和logo-->
            <!--导航-->
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-center">
            {switch $Think.session.role}

                {case Teacher}
                    <li class = "text-center"><a href = "{:url('teacher/course/index')}" >Courses</a></li>
                    <li class = "text-center"><a href = "{:url('teacher/student/index')}" >Your Students</a></li>
                    <li class = "text-center"><a href = "{:url('teacher/award/index')}" >Award</a></li>
                {/case}
                {case Student}
                    <li class = "text-center"><a href = "{:url('student/course/index')}" >Courses</a></li>
                    <li class = "text-center"><a href = "{:url('student/award/index')}" >Awards</a></li>
                    
                {/case}
                {case Admin}
                    <li class = "text-center"><a href = "{:url('admin/student/index')}" >Students</a></li>
                    <li class = "text-center"><a href = "{:url('admin/teacher/index')}" >Teachers</a></li>
                    <li class = "text-center"><a href = "{:url('admin/course/index')}" >Courses</a></li>
                {/case}

                {default /}<li class = "text-center"><a href = "{:url('student/course/index')}" >Courses</a></li>
            {/switch}
                     <li class = "text-center"><a href = "{:url('user/index/profile')}" >Your Profile</a></li>
                </ul>
                <!-- 搜索 -->
                <form method="get" action="" class="navbar-form navbar-right">
                    <div class="form-group">
                       <!-- <input type="text" class="form-control" placeholder="搜索小说" name="keyword" /> 
                        <input type="submit" class="btn" value="Go" style="margin:0" /> -->
                        <!-- <a class="btn">登录|注册|用户名</a> -->
                        <span>Hello {$Think.session.user_object.username}</span>
                        <a class="btn" href = "{:url('user/index/logout')}" style="margin:0">Logout</a>
                    </div>
                </form>
                
                <div>
                    
                </div>
            </div>
            <!--导航-->
        </div>
    </nav>
</header>
{/if}
<div class="container">
{block name="main"}{/block}
</div>

</body>
</html>