{extend name="common@Public/base" /}
{block name="main"}

<div class="container">
	<div class="row">
		<div class="span12">
            <h3 class="text-center">
				<span style = "color:red">{$student.username}</span> Score List
			</h3> 
            <hr>
			<table class="table table-bordered text-center">
				<thead>
					<tr class = "text-center">
						<td>
							course_name
						</td>
						<td>
							score
						</td>
						<td>
							comment
						</td>
						<td>
							student_feedback
						</td>
					</tr>
				</thead>
				<tbody>
                {volist name="$student.grades" id="vo"}
                    <tr>
                        <td>{$vo.course.name}</td>
                        <td>{$vo.score}</td>
                        <td>{$vo.comment}</td>
                        <td>{$vo.student_feedback}</td>
                    </tr>
                {/volist}
				</tbody>
			</table>
		</div>
	</div>
</div>
{/block}