{extend name="common@Public/base" /}
{block name="main"}

<div class="container">
	<div class="row">
		<div class="span12">
			<h4 class = "text-center">Award List</h4>
            <hr>
            <!-- <a href="{:url('create')}" class="btn btn-primary">add</a> -->
			<a id="modal-769144" href="#modal-container-769144" role="button" class="btn btn-primary" data-toggle="modal">Add Award</a>
            <hr>
			<table class="table table-bordered text-center">
					<tr>
						<td>
							award_name
						</td>
						<td>
							introduction
						</td>
						<td>
							create_time
						</td>
                        <td> action </td>
					</tr>
				<tbody>
                {volist name="awards" id="vo"}
                    <tr>
                        <td>{$vo.name}</td>
                        <td>{$vo.introduction}</td>
						<td>{$vo.create_time}</td>
                        <td>
							<a  data-name = "{$vo.name}" data-intro = "{$vo.introduction}" class = "a_update" data-id = "{$vo.id}"  href= "#modal-container-769144"  data-toggle="modal" >update</a> | 
							<a href = "{:url('delete', ['id' => $vo.id])}" class = "delete" data-id = {$vo.id}>delete</a> | 
							<a class = "a_assign" data-id = "{$vo.id}"  href= "{:url('putStudentPage', ['aid' => $vo.id])}"  data-toggle="modal"   > assign </a> | <!--  href = "{:url('hasAssigned', ['id' => $vo.id])}" -->
							<a class = "" data-id = "{$vo.id}" href = "{:url('detail', ['aid' => $vo.id])}" >detail</a>
						</td>
                    </tr>
                {/volist}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-container-769144" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">
					Add Award
				</h4>
			</div>
			<div class="modal-body">
				<form action = "{:url('save')}" role="form" method = "post" id = "m_form">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" name = "name" required class="form-control" id="exampleInputEmail1" />
                    </div>
                    <div class="form-group">
                        <label for="">Introduction</label>
						<textarea name = "introduction" required class = "form-control" id="exampleInputEmail2"></textarea>
                    </div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">close</button> 
			</div>
		</div>		
	</div>

<script>
    $(function(){
        /*$('.delete').click(function(){
            var url = {:url()}
            console.log($(this).data('id'));
            $.getJSON();
        });*/
		$('.a_update').bind('click', function(){
			$('#myModalLabel').html('Update Award');
			$('#exampleInputEmail1').val($(this).data('name'));
			$('#exampleInputEmail2').val($(this).data('intro'));
			var url = '{:url('update')}' + '?id='  + $(this).data('id');
			$('#m_form').attr('action', url);
		});       
    });
</script>
{/block}